html,
body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /* overflow: hidden; */
}

.container-custom {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}