html,
body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
}
.macchia {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    animation-name: example1,example2;
    animation-duration: 5s,3s;
    animation-iteration-count: infinite,infinite;
    animation-direction: alternate,alternate;
    
    
}
@keyframes example1 {
    from {
       
        border-top-right-radius: 0%;
        
        border-bottom-left-radius: 0%;

    }
    to {
       
        border-top-right-radius: 5%;
      
        border-bottom-left-radius: 5%;
    }
  }
  @keyframes example2 {
    from {
        border-top-left-radius: 5%;
        border-bottom-right-radius: 5%;

    }
    to {
        border-top-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
  }
.active {
   border-radius: 50%;     
}
.container {
    background-color: #fff;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    /* height: 20%; */
    background-color: orange;
}

.div2 {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 20%;
    /* height: 20%; */
    background-color: orange;
}

.div3 {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    /* height: 20%; */
    background-color: orange;
}

.div4 {
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 20%;
    /* height: 20%; */
    background-color: orange;
}

.div5 {
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 20%;
    /* height: 20%; */
    background-color: orange;
}